@import url(../../Fonts/font.css);
.text-insertLogin {
   
    width: 450px; /* Đặt chiều rộng cho form */
    position: absolute;
    top: 58%; /* Đặt vị trí ở giữa theo chiều cao */
    left: 50%; /* Đặt vị trí ở giữa theo chiều rộng */
    transform: translate(-50%, -50%); /* Dịch chuyển form để nằm chính giữa */
    font-family: "Open Sans";
    font-weight: 100;
    padding: 5px;
    color: #000000;
    
}

.white-section {
    height: 500px;
    background-color: #ffffff ;
    
    
}
.inforLogin {
    background: #FFFFFF;
    position: absolute;
    top: 90%;
    left: 50%;
}



.form-signin {
    width: 400px; /* Đặt chiều rộng cho form */
    position: absolute;
    top: 50%; /* Đặt vị trí ở giữa theo chiều cao */
    left: 50%; /* Đặt vị trí ở giữa theo chiều rộng */
    transform: translate(-50%, -50%); /* Dịch chuyển form để nằm chính giữa */
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm đổ bóng cho form */
    background-color: #fff; /* Màu nền của form */
}

.form-controlLogin {
    width: 100%; /* Đặt chiều rộng 100% cho input */
    height: 40px;
    margin-bottom: 10px; /* Thêm khoảng cách giữa các trường nhập */
    border: 1px solid #ccc;
    border-radius: 5px;
}

 .search {
    margin: 15px auto;
    background: #0F5A90;
    color: #FBF8F8;
    font-family: open sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}