@import url(../../Fonts/font.css);
.seat-paper
{
    background-color:#fff;
    border-radius:15px !important;
    margin-top:15px;

}
.plane-head {
    padding-top: 15px;
    padding-left: 30px;
    font-weight: bold;
    font-family: 'Open Sans';
}
.plane-wrapper {
    padding-left: 15px ;
    display:flex;
}
.plane-body {
    background-color: #f3f5f8;
    height: 251px;
    width: 70%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    padding: 15px;
    padding-top:32px;
}
.test 
{
    width:60px;
    height:60px;
    background-color:#fff;
    position:absolute;
    top:20px;
    right:20px;
}
.rounded-triangle {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid #666; /* Màu nền phần đầu máy bay */
    border-radius: 0 50% 50% 0;
    position: absolute;
    top: 0;
    left: 0;
}
.seat-item
{
    width:15px ;
    height:15px;
    background-color:#fff;
    padding:15px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:12px;
    font-family:Inter;
    font-weight:bold;
}
.seat-item:hover 
{
    cursor:pointer;
    background-color:#58a7ff;
    color : #fff;
}