.text-insertSignUp {
   
    width: 450px; /* Đặt chiều rộng cho form */
    position: absolute;
    top: 58%; /* Đặt vị trí ở giữa theo chiều cao */
    left: 50%; /* Đặt vị trí ở giữa theo chiều rộng */
    transform: translate(-50%, -50%); /* Dịch chuyển form để nằm chính giữa */
    font-family: "open sans";
    font-weight: 100;
    padding: 5px;
    
}

.inforSignUp {
    background: #FFFFFF;
    position: absolute;
    top: 94%;
    left: 50%;
}

.white-section {
    height: 500px;
    background-color: #ffffff ;
    
    
}

.form-signin1 {
    width: 400px; /* Đặt chiều rộng cho form */
    position: absolute;
    top: 50%; /* Đặt vị trí ở giữa theo chiều cao */
    left: 50%; /* Đặt vị trí ở giữa theo chiều rộng */
    transform: translate(-50%, -50%); /* Dịch chuyển form để nằm chính giữa */
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm đổ bóng cho form */
    background-color: #fff; /* Màu nền của form */
}

.form-control1 {
    width: 100%; /* Đặt chiều rộng 100% cho input */
    height: 40px;
    margin-bottom: 10px; /* Thêm khoảng cách giữa các trường nhập */
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btnGoogle1{
    background-color: #FFFFFF;
    color: #0F5A90;
    border: 1px solid #0F5A90;
    margin-top: 10px;
}
#btnGoogle1:hover{
    background-color: #0F5A90;
    color: #FFFFFF;
    border: 1px solid #0F5A90;
}