@import url('https://fonts.googleapis.com/css?family=Montserrat');

    #body-row {
        margin-left: 0;
        margin-right: 0;
    }

.adminContent {
    width: 100%;
    display: flex;
}
.right-content {
    width: 100%;
}
    #sidebar-container {
        min-height: 100vh;
        background-image: linear-gradient(90deg, #2ea3f7 0%, rgba(162, 221, 249, 0.27) 100%);
        padding: 0;
    
    }

    
    .sidebar-expanded {
        width: 230px;
    }
    
    .sidebar-collapsed {
      
        width: 100px;
    }

    
    #sidebar-container .list-group a {
        height: 50px;
        color: white;
    }

    #sidebar-container .list-group li.list-group-item {
        background-image: linear-gradient(90deg, #2ea3f7 0%, rgba(200, 228, 241, 0.27) 100%);
    }
    
    #sidebar-container .list-group .sidebar-submenu a {
        height: 45px;
        padding-left: 30px;
    }
    
    /* .sidebar-submenu {
        font-size: 0.9rem;
    } */

  
    /* .sidebar-separator-title {
        background-image: linear-gradient(90deg, #2ea3f7 0%, rgba(162, 221, 249, 0.27) 100%);
        height: 85px;
    } */
    
    .sidebar-separator {
        background-image: linear-gradient(90deg, #2ea3f7 0%, rgba(162, 221, 249, 0.27) 100%);
        height: 25px;
    }
    
    /* .logo-separator {
        background-image: linear-gradient(90deg, #2ea3f7 0%, rgba(162, 221, 249, 0.27) 100%);
        height: 60px;
    } */

    .list-group .bg-transparent:hover{
      background-image: linear-gradient(90deg, #fcfcfc 0%, rgb(255, 255, 255) 100%);
      
  }
  .list-group .bg-transparent:hover .menu-collapsed {
      color: #2ea3f7;
}
  .list-group .bg-transparent:hover i{
  color: #2ea3f7;
}
  i{
    margin-right: 10px;
  }
 
    .logo-container {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
  }
  
  .logo-inner {
      width: 60px; /* Độ rộng của logo */
      height: 60px; /* Độ cao của logo */
      animation: rotate 5s linear infinite; /* Chạy animation với tên "rotate" trong thời gian 5 giây, linear và vô hạn lặp */
  }
  
  .logo-img {
    width: 90%; /* Kích thước hình ảnh logo sẽ đầy đủ theo kích thước của .logo-inner */
    height: 100%; /* Kích thước hình ảnh logo sẽ đầy đủ theo kích thước của .logo-inner */
    
    

  
}

  
  .Logo-name {
      margin-left: 10px; /* Khoảng cách giữa logo và chữ */
      font-weight: bolder;
      color: white;
      font-family: Open sans;
  }
  
  @keyframes rotate {
      from {
          transform: rotate(0deg); /* Góc quay ban đầu */
      }
      to {
          transform: rotate(360deg); /* Góc quay sau khi hoàn thành animation (1 vòng quay) */
      }
  }
  
   
/* css cho cái navbar */
.search-box {
    position: relative;
}

.search-box input[type="text"] {
    width: 300px;
    padding-right: 30px;
}

.search-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}