@import url(../../Fonts/font.css);
.luggage-paper
{
    border-radius:15px !important;
    margin-top:15px;
}
.luggage-wrapper {
    padding: 15px;
    background-color: #f3f4f1;
    display: flex;
    border-radius: 15px !important;
}
.luggage-title
{
    font-size : 15px;
    font-weight:bold;
    font-family:Inter;
    color:red;
    margin-left:20px;
}
.luggage-wrapper:hover 
{
    cursor:pointer;
}
.luggage-head {
    font-size : 15px;
    font-weight:bold;
    font-family:'Open Sans';
    color:rgb(0, 0, 0);
    margin-left:20px;
}