@import url(../../Fonts/font.css);
.booking-wrapper {
    width: 80%;
    height: auto ;
    padding: 12px;
    background-color: #fbf8f8;
    border-radius: 55px;
    display: block;
    margin: auto;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
}
.ticket_booking
{
    text-align:center;
    font-family:Inter;
    line-height:1.5;
}
.booking-header {
    display: flex;
    padding: 15px 36px;
    flex-direction: row;
    justify-content: space-between;
}
.booking-checkbox-wrapper {
    display: flex;
    z-index: 10;
    align-items: center;
}
.flight_one_way {
    margin-right: 15px;
}
.option_label {
    display: flex;
    padding-left: 10px; /* Tạo khoảng cách giữa radio button và label text */
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
}
.option_label input[type="radio"]
{
        width: 24px;
        height: 24px;
        position: relative;
        outline: none;
        border: none;
}
    .option_label span {
        margin-left: 10px;
        line-height: 18px;
        font-size: 18px !important;
        font-family: "Oleo Script";
       
    }
{/*Booking body css*/}
.booking-body
{
    min-height:100px;
    background-color:#fff;
    padding : 10px;
}
.d-flex
{
    display:flex;
}
.border-booking {
    border: 1px solid #9A9C9E;
    border-radius: 10px;
}
.booking-body-details {
    min-height:100px;
}
.booking-location
{
 
}
.booking-time 
{
    margin-left:7px;
}
.booking-location-time {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    position:relative;
}
.booking-border-left {
    border-left: 1px solid #9A9C9E;
}
.airport-name-day {
    font-weight:400;
    font-size:13px;
}
.booking-body-text-color {
    color: #9A9C9E;
}
.notUp {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333333;
    line-height: 1.05;
    font-size: 20px;
    font-family:Inter;
    font-weight: 600;
    position: absolute;
}
.Up {
    line-height: 1.05;
    font-size: 15px;
    font-family: Inter;
    top: 10%;
    left: 10%;
    font-weight: 400;
    position: absolute;
}
.input-main {
    padding: 0;
    height: 100%;
    position: relative;
    border-radius: 4px;
    width: 100%;
    color: #333333;
    cursor: text;
    position:relative;
    flex-direction:column;
    display: inline-flex;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: Inter;
    line-height: 1.1875em;
}
 .input-main input {
        color: #333333;
        padding: 0 !important;
        font-size: 19px;
        margin-top: 30px;
        margin-left:5px;
        text-align: left;
        font-weight: 600;
        line-height: 17.9px;
        width:100%;
        text-overflow: ellipsis;
        border: 0;
        outline: none;
        background: none;
    }
 .hiden 
 {
     display:none
 }
.button_container
{
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center
}
.custom-button {
    font-family: Inter !important;
    font-size: 14px !important;
}