@font-face {
    font-family: 'Oleo Script';
    src: url('KoHo,Montserrat,Oleo_Script/Oleo_Script/OleoScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('Inder/Inder-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
